# Cancer Prediction

In [3]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('Cancer data set.txt')

In [5]:
df.head(25)

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2

In [6]:
df.isna().values.any()

False

In [7]:
df.isnull().values.any()

False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
id                        699 non-null int64
clump_thickness           699 non-null int64
unif_cell_size            699 non-null int64
unif_cell_shape           699 non-null int64
marg_adhesion             699 non-null int64
single_epith_cell_size    699 non-null int64
bare_nuclei               699 non-null object
bland_chrom               699 non-null int64
norm_nucleoli             699 non-null int64
mitoses                   699 non-null int64
class                     699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

In [9]:
df.corr()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bland_chrom,norm_nucleoli,mitoses,class
id,1.000000,-0.055308,-0.041603,-0.041576,-0.064878,-0.045528,-0.060051,-0.052072,-0.034901,-0.080226
clump_thickness,-0.055308,1.000000,0.644913,0.654589,0.486356,0.521816,0.558428,0.535835,0.350034,0.716001
unif_cell_size,-0.041603,0.644913,1.000000,0.906882,0.705582,0.751799,0.755721,0.722865,0.458693,0.817904
unif_cell_shape,-0.041576,0.654589,0.906882,1.000000,0.683079,0.719668,0.735948,0.719446,0.438911,0.818934
marg_adhesion,-0.064878,0.486356,0.705582,0.683079,1.000000,0.599599,0.666715,0.603352,0.417633,0.696800
single_epith_cell_size,-0.045528,0.521816,0.751799,0.719668,0.599599,1.000000,0.616102,0.628881,0.479101,0.682785
bland_chrom,-0.060051,0.558428,0.755721,0.735948,0.666715,0.616102,1.000000,0.665878,0.344169,0.756616
norm_nucleoli,-0.052072,0.535835,0.722865,0.719446,0.603352,0.628881,0.665878,1.000000,0.428336,0.712244
mitoses,-0.034901,0.350034,0.458693,0.438911,0.417633,0.479101,0.344169,0.428336,1.000000,0.423170
class,-0.080226,0.716001,0.817904,0.818934,0.696800,0.682785,0.756616,0.712244,0.423170,1.000000

In [10]:
df = df.drop(['id'], axis = 1)

In [11]:
df

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2
10,1,1,1,1,1,1,3,1,1,2
11,2,1,1,1,2,1,2,1,1,2
12,5,3,3,3,2,3,4,4,1,4
13,1,1,1,1,2,3,3,1,1,2
14,8,7,5,10,7,9,5,5,4,4
15,7,4,6,4,6,1,4,3,1,4
16,4,1,1,1,2,1,2,1,1,2
17,4,1,1,1,2,1,3,1,1,2
18,10,7,7,6,4,10,4,1,2,4
19,6,1,1,1,2,1,3,1,1,2
20,7,3,2,10,5,10,5,4,4,4
21,10,5,5,3,6,7,7,10,1,4
22,3,1,1,1,2,1,2,1,1,2
23,8,4,5,1,2,?,7,3,1,4
24,1,1,1,1,2,1,3,1,1,2
25,5,2,3,4,2,7,3,6,1,4
26,3,2,1,1,1,1,2,1,1,2
27,5,1,1,1,2,1,2,1,1,2
28,2,1,1,1,2,1,2,1,1,2
29,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,4
670,3,10,7,8,5,8,7,4,1,4
671,3,2,1,2,2,1,3,1,1,2
672,2,1,1,1,2,1,3,1,1,2
673,5,3,2,1,3,1,1,1,1,2
674,1,1,1,1,2,1,2,1,1,2
675,4,1,4,1,2,1,1,1,1,2
676,1,1,2,1,2,1,2,1,1,2
677,5,1,1,1,2,1,1,1,1,2
678,1,1,1,1,2,1,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,10,10,10,10,5,10,10,10,7,4
681,5,10,10,10,4,10,5,6,3,4
682,5,1,1,1,2,1,3,2,1,2
683,1,1,1,1,2,1,1,1,1,2
684,1,1,1,1,2,1,1,1,1,2
685,1,1,1,1,2,1,1,1,1,2
686,1,1,1,1,2,1,1,1,1,2
687,3,1,1,1,2,1,2,3,1,2
688,4,1,1,1,2,1,1,1,1,2
689,1,1,1,1,2,1,1,1,8,2
690,1,1,1,3,2,1,1,1,1,2
691,5,10,10,5,4,5,4,4,1,4
692,3,1,1,1,2,1,1,1,1,2
693,3,1,1,1,2,1,2,1,2,2
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [12]:
df.corr()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bland_chrom,norm_nucleoli,mitoses,class
clump_thickness,1.000000,0.644913,0.654589,0.486356,0.521816,0.558428,0.535835,0.350034,0.716001
unif_cell_size,0.644913,1.000000,0.906882,0.705582,0.751799,0.755721,0.722865,0.458693,0.817904
unif_cell_shape,0.654589,0.906882,1.000000,0.683079,0.719668,0.735948,0.719446,0.438911,0.818934
marg_adhesion,0.486356,0.705582,0.683079,1.000000,0.599599,0.666715,0.603352,0.417633,0.696800
single_epith_cell_size,0.521816,0.751799,0.719668,0.599599,1.000000,0.616102,0.628881,0.479101,0.682785
bland_chrom,0.558428,0.755721,0.735948,0.666715,0.616102,1.000000,0.665878,0.344169,0.756616
norm_nucleoli,0.535835,0.722865,0.719446,0.603352,0.628881,0.665878,1.000000,0.428336,0.712244
mitoses,0.350034,0.458693,0.438911,0.417633,0.479101,0.344169,0.428336,1.000000,0.423170
class,0.716001,0.817904,0.818934,0.696800,0.682785,0.756616,0.712244,0.423170,1.000000

In [13]:
df = df.replace('?', np.nan)

In [14]:
df.isna().values.any()

True

In [15]:
df.bare_nuclei = pd.to_numeric(df.bare_nuclei)

In [16]:
df = df.fillna(method='ffill')

In [18]:
X = df.iloc[:,1:].values
y = df.iloc[:, 0].values

In [19]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.2, random_state = 0)
model = LinearRegression(fit_intercept=True)
model.fit(Xtrain,ytrain)
y_model = model.predict(Xtest)
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
print('RsquareError = ',r2_score(ytest,y_model))
print('Mean Absolute Error = ',mean_absolute_error(ytest,y_model))
print('Root mean Square Error = ',np.sqrt(mean_squared_error(ytest,y_model)))

C:\Users\Abhinav\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

RsquareError =  0.5671331145162662
Mean Absolute Error =  1.597296437043348
Root mean Square Error =  1.9115419978913653

In [20]:
from sklearn import datasets
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
model = GaussianNB()
x = df.iloc[:, :9].values
y = df.iloc[:, 9].values
model.fit(x, y)
y_pred = model.predict(x)
print(metrics.classification_report(y, y_pred))
print(metrics.confusion_matrix(y, y_pred))
mat = metrics.confusion_matrix(y, y_pred)

from sklearn.metrics import accuracy_score

print('\n Accuracy Score = ',accuracy_score(y, y_pred))

             precision    recall  f1-score   support

          2       0.98      0.95      0.97       458
          4       0.91      0.97      0.94       241

avg / total       0.96      0.96      0.96       699

[[435  23]
 [  7 234]]

 Accuracy Score =  0.9570815450643777

In [21]:
from sklearn import datasets
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB
import seaborn as sns
model = MultinomialNB()
x = df.iloc[:, :9].values
y = df.iloc[:, 9].values
model.fit(x, y)
y_pred = model.predict(x)
print(metrics.classification_report(y, y_pred))
print(metrics.confusion_matrix(y, y_pred))
mat = metrics.confusion_matrix(y, y_pred)

from sklearn.metrics import accuracy_score

print('\n Accuracy Score = ',accuracy_score(y, y_pred))

             precision    recall  f1-score   support

          2       0.90      0.95      0.93       458
          4       0.89      0.81      0.85       241

avg / total       0.90      0.90      0.90       699

[[434  24]
 [ 46 195]]

 Accuracy Score =  0.899856938483548

In [22]:
from sklearn import datasets
from sklearn import metrics
from sklearn.naive_bayes import BernoulliNB
import seaborn as sns
model = BernoulliNB()
x = df.iloc[:, :9].values
y = df.iloc[:, 9].values
model.fit(x, y)
y_pred = model.predict(x)
print(metrics.classification_report(y, y_pred))
print(metrics.confusion_matrix(y, y_pred))
mat = metrics.confusion_matrix(y, y_pred)

from sklearn.metrics import accuracy_score

print('\n Accuracy Score = ',accuracy_score(y, y_pred))

             precision    recall  f1-score   support

          2       0.66      1.00      0.79       458
          4       0.00      0.00      0.00       241

avg / total       0.43      0.66      0.52       699

[[458   0]
 [241   0]]

 Accuracy Score =  0.6552217453505007

C:\Users\Abhinav\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [23]:
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

x = df.iloc[:, :9].values
y = df.iloc[:, 9].values

sc = StandardScaler()
x = sc.fit_transform(x)

xtrain,xtest,ytrain,ytest = train_test_split(x, y, test_size = 0.3, random_state = 0)
model = SVC(kernel = 'rbf', C = 1.0, random_state = 0, gamma = 'auto').fit(xtrain, ytrain)

print('Train Accuracy Score = ', metrics.accuracy_score(ytrain, model.predict(xtrain)))
print('\nTrain Confusion Metrics = ', metrics.confusion_matrix(ytrain, model.predict(xtrain)))
print('\nTest Accuracy Score = ', metrics.accuracy_score(ytest, model.predict(xtest)))
print('\nTest Confusion Metrics = ', metrics.confusion_matrix(ytest, model.predict(xtest)))
print('\nClassification Report = ', metrics.classification_report(ytest, model.predict(xtest)))

Train Accuracy Score =  0.9815950920245399

Train Confusion Metrics =  [[317   6]
 [  3 163]]

Test Accuracy Score =  0.9476190476190476

Test Confusion Metrics =  [[128   7]
 [  4  71]]

Classification Report =               precision    recall  f1-score   support

          2       0.97      0.95      0.96       135
          4       0.91      0.95      0.93        75

avg / total       0.95      0.95      0.95       210